<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/AllSeleniumJavaProjects/DevOps-ChromeLaunch">
        <classes>
            <class name="G.GLaunch11">
                <methods>
                    <include name="Launchg"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>